.dragbar {
  position: fixed;
  background: #fff;
  background: -webkit-linear-gradient(top, #fff 0%, #fafafa 100%);
  z-index: 10;
  top: 0;
  left: 0;
  right: 5px;
  -webkit-app-region: drag;
  border-bottom: 1px solid #eee;
  height: 2.6em;
  opacity: 0.95;
  -webkit-transition: all 0.2s;
}
.win-btn {
  position: fixed;
  z-index: 12;
  top: 16px;
  display: block;
  height: 11px;
  width: 11px;
  text-decoration: none;
  color: transparent;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
  margin-right: 4px;
  cursor: default;
  -webkit-app-region: no-drag;
}
.win-close {
  left: 14px;
}
.win-minim {
  left: 36px;
}
.win-maxim {
  left: 58px;
}
.win-close:hover {
  background: rgba(255,0,0,0.2);
  border-color: #a52a2a;
}
.win-minim:hover {
  background: rgba(255,255,0,0.3);
  border-color: #cc0;
}
.win-maxim:hover {
  background: rgba(0,128,0,0.2);
  border-color: #008000;
}
.fan-btn {
  position: fixed;
  top: 11px;
  right: 11px;
}
.theme-btn {
  position: fixed;
  bottom: 11px;
  right: 11px;
}
.theme-icon {
  display: inline-block;
  height: 14px;
  width: 14px;
  background: #808080;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.theme-icon:hover {
  background: #bbb;
}
.theme-icon:after {
  content: "";
  background: #fff;
  position: absolute;
  border-radius: 50%;
  left: 25%;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}
.dark-theme {
  background: #2d323a;
  color: #aaa;
}
.dark-theme .dragbar {
  background: -webkit-linear-gradient(top, #2d323a 0%, rgba(255,255,255,0) 100%);
  border-color: rgba(255,255,255,0.08);
}
.dark-theme .nav li {
  color: #808080;
}
.dark-theme .nav .activetab {
  color: #fff;
}
.dark-theme .tab {
  background: #2d323a;
}
.dark-theme .win-btn {
  border: 1px solid rgba(255,255,255,0.05);
  background: rgba(255,255,255,0.06);
}
.dark-theme ::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
}
.actions {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  padding: 11px;
}
.actions a {
  border-bottom: 1px dotted #808080;
}
.server {
  padding: 20px 0;
  color: #aaa;
}
header.actions {
  top: 0;
}
footer.actions {
  bottom: 0;
}
footer.actions span {
  opacity: 0.1;
  font-size: 1.2em;
  color: #808080;
}
footer.actions span:hover {
  opacity: 1;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
.nav {
  position: fixed;
  z-index: 15;
  top: 0.4em;
  left: 5em;
  right: 1em;
  border: 0;
  -webkit-transition: all 0.2s;
}
.fanned .nav,
.fanned .dragbar {
  opacity: 0;
}
.tab-bar {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
}
.tab-bar li {
  -webkit-app-region: no-drag;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  color: #bbb;
}
.tab-bar li:active {
  color: #888;
}
.tab-bar .activetab,
.tab-bar .activetab:hover {
  color: #000;
}
.CodeMirror-sizer {
  padding-top: 60px;
}
.tab-btn-x {
  display: none;
  height: 10px;
  width: 10px;
  position: relative;
  margin-right: 5px;
}
.tab-btn-x:hover:before {
  opacity: 1 !important;
  color: #a52a2a;
}
.tab-btn-x:before {
  -webkit-transition: all 0.15s;
  content: "×";
  color: #000;
  opacity: 0;
  position: absolute;
  line-height: 10px;
  font-size: 22px;
  top: 0;
  left: 0;
  -webkit-transform: scale(0.5);
}
:hover > .tab-btn-x:before {
  opacity: 0.2;
  -webkit-transform: scale(1);
}
.activetab .tab-btn-x:before {
  opacity: 0.2;
}
.unsaved .tab-btn-x:before {
  content: "o";
}
.btn {
  display: inline-block;
  padding: 0.8em 1em;
  margin-bottom: 1em;
  background: #f00;
  color: #fff;
  text-decoration: none;
}
.tabs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.tab {
  -webkit-transition: -webkit-transform 0.15s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: block;
  vertical-align: top;
  -webkit-transform: translate3d(0, 0, 0);
}
.tab.aftertab {
  -webkit-transform: translate3d(100%, 0, 0);
}
.tab.active {
  display: block;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}
.fanned .tab {
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.22, 1.1, 0.365, 1);
  box-shadow: 0 0 50px rgba(0,0,0,0.07), 0 0 5px rgba(0,0,0,0.2);
}
.CodeMirror {
/* Set height, width, borders, and global font properties here */
  color: #535353;
  top: 0;
  left: 0;
  bottom: 0;
  height: calc(100vh - 2.8em);
  height: 100vh;
}
.CodeMirror pre {
  padding: 0 4ch;
}
.CodeMirror-cursors {
  z-index: 5 !important;
}
.CodeMirror .CodeMirror-code > div > pre {
  display: inline-block;
}
.CodeMirror-gutter-wrapper {
  display: inline-block;
}
.CodeMirror-gutter-wrapper[style] {
  position: static !important;
}
.CodeMirror-gutter-elt {
  position: static !important;
  display: inline-block;
}
.dragging {
  cursor: ns-resize;
}
.dragging * {
  -webkit-user-select: none !important;
  cursor: ns-resize !important;
}
@media (min-width: 1000px) {
  body {
    padding-top: 1em;
  }
  .CodeMirror-sizer {
    padding-top: 30px;
  }
  .nav {
    width: 150px;
    bottom: 0;
    left: 0;
    right: auto;
    border: 0;
    top: 0;
    z-index: 10;
    padding-top: 30px;
  }
  .dragbar {
    -webkit-app-region: drag;
    background: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    border: 0;
    height: 2em;
  }
  .bottom {
    width: 150px;
    right: auto;
  }
  .tab-bar li {
    display: block;
  }
  .tabs {
    top: 0px;
    left: 150px;
  }
  .CodeMirror {
    top: 2px;
    height: 100vh;
  }
}
