.c-picker * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.c-picker {
  -webkit-app-region: no-drag;
  display: inline-block;
  z-index: 120;
  line-height: 0;
  border-radius: 2px;
  -webkit-transform-origin: top left;
  -webkit-transition: height 80ms, width 80ms, padding 80ms, opacity 400ms;
  opacity: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}
.c-picker.active {
  -webkit-transform: scale(1);
  opacity: 1;
  height: 200px;
  width: 260px;
  padding: 10px;
}
.c-picker.staticpicker {
  height: auto;
  width: auto;
  overflow: visible;
  opacity: 1;
}
.c-preview {
  position: relative;
}
.c-preview:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: 12px 12px;
  background-position: 0 0, 6px 6px;
  background-image: linear-gradient(45deg, rgba(120,120,120,0.3) 25%, transparent 25%, transparent 75%, rgba(120,120,120,0.3) 75%, rgba(100,100,100,0.2)), linear-gradient(45deg, rgba(120,120,120,0.3) 25%, transparent 25%, transparent 75%, rgba(120,120,120,0.3) 75%, rgba(100,100,100,0.2));
}
.c-bg {
  display: inline-block;
}
.c-format {
  background: #fff;
  display: inline-block;
  height: 180px;
  vertical-align: middle;
  padding: 1em;
  font-family: Consolas;
  font-size: 12px;
  color: #aaa;
  display: none;
}
.c-format div {
  line-height: normal;
}
.c-hue,
.c-value,
.c-opacity {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.c-alpha {
  box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
}
.c-slider,
.c-wheel {
  height: 180px;
  width: 20px;
  display: inline-block;
  background: #00f;
  position: relative;
}
.staticpicker .c-slider {
  width: 40px;
  height: 300px;
}
.c-wheel {
  cursor: ns-resize;
}
.c-precise {
  display: none;
}
.c-wheel:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  width: 100%;
  z-index: 999;
}
.c-precise:after {
  right: 0;
}
.c-spectrum {
  margin-right: 5px;
}
.c-spectrum .c-thumb {
  z-index: 999;
  margin: auto;
  top: 0;
}
.c-spectrum:after {
  left: 0;
}
.c-grid {
  height: 180px;
  width: 180px;
  display: inline-block;
  background: #008000;
  position: relative;
}
.staticpicker .c-grid {
  width: 300px;
  height: 300px;
}
.c-wheel {
  overflow: hidden;
}
.c-looper:before,
.c-looper:after {
  content: "";
  height: 100%;
  width: 100%;
  background: inherit;
  display: block;
  position: absolute;
}
.c-looper:before {
  top: 100%;
}
.c-looper:after {
  bottom: 100%;
}
.c-thumb {
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
}
.c-hue .c-thumb {
  margin-left: 3px;
  margin-top: -5px;
  border: 0;
}
.c-grid .c-thumb {
  margin: -5px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
}
.c-alpha .c-thumb {
  margin-left: 3px;
  margin-top: -5px;
}
.c-opacity {
  background-size: 12px 12px;
  background-position: 0 0, 6px 6px;
  background-image: linear-gradient(45deg, rgba(120,120,120,0.3) 25%, transparent 25%, transparent 75%, rgba(120,120,120,0.3) 75%, rgba(100,100,100,0.2)), linear-gradient(45deg, rgba(120,120,120,0.3) 25%, transparent 25%, transparent 75%, rgba(120,120,120,0.3) 75%, rgba(100,100,100,0.2));
}
.c-thumb:hover {
  background: #eee;
}
