$size = 150px
$thumb = 10px
$bg = white

$transparencygrid = 
  background-size: 12px 12px;
  background-position: 0 0, 6px 6px;
  background-image: linear-gradient(45deg, rgba(120,120,120,0.3) 25%, transparent 25%, transparent 75%, rgba(120,120,120,0.3) 75%, rgba(100,100,100,0.2)),
                    linear-gradient(45deg, rgba(120,120,120,0.3) 25%, transparent 25%, transparent 75%, rgba(120,120,120,0.3) 75%, rgba(100,100,100,0.2));


.c-picker *
  // outline red 1px solid
  box-sizing border-box
  -webkit-box-sizing border-box

.c-picker
  -webkit-app-region: no-drag
  display inline-block
  //position absolute
  top  0
  left 0
  // margin -7px 0 0 -7px
  z-index 120
  line-height 0
  margin 6px
  border-radius 2px
  // border 2px solid #444
  // box-shadow 0 1px 1px 1px rgba(0,0,0,0.1), 0 8px 30px rgba(0,0,0,0.05)
  -webkit-transform-origin: top left //15px 15px
  -webkit-transform: scale(1, 0.4)
  -webkit-transition opacity 80ms, height 80ms; //-webkit-transform 180ms;// cubic-bezier(0.530, 1.450, 0.000, 1.000); 
  opacity 0
  height 0
  overflow hidden
  margin-left 100px

.c-picker.active
  -webkit-transform: scale(1)
  opacity 1
  height $size

.c-preview
  //height 30px
  //width 30px
  //margin-bottom 10px
  position relative
  // border-bottom: 1px solid white
  &:before
    content ""
    position absolute
    z-index -1
    top 0
    right 0
    left 0
    bottom 0
    {$transparencygrid}

.c-bg
  display inline-block

.c-format
  background white
  display inline-block
  height $size
  vertical-align middle
  padding 1em
  font-family Consolas
  font-size 12px
  color #aaa
  display none
  div
    line-height normal

.c-hue, .c-value, .c-opacity
  padding 0
  display inline-block
  vertical-align middle


.c-alpha
  //width 4px !important
  //height: $size - $thumb !important
  //border-radius: 2px
  box-shadow inset 0 0 1px rgba(0,0,0,0.2)


.c-slider, .c-wheel
  height $size
  width 20px //$thumb
  display inline-block
  background blue
  position relative

.c-wheel
  cursor: ns-resize



.c-precise
  //display none

.c-wheel
  &:after
    content ""
    position absolute
    top 50%
    margin-top -2px
    //border 4px solid transparent
    border-bottom: 1px solid white
    box-shadow 0 1px 1px rgba(0,0,0,0.2)
    width 100%
    z-index 999

.c-precise
  &:after
    right 0
    //border-right-color #444

.c-spectrum
  margin-right: 5px
  .c-thumb
    z-index 999
    margin auto
    top 0
  &:after
    left 0
    //border-left-color #444


.c-grid
  height $size
  width $size * 2
  display inline-block
  background green
  position relative
  overflow hidden
  // box-shadow 0 0 0 1px rgba(0,0,0,0.2)

.c-wheel
  overflow hidden

.c-looper  
  &:before, &:after
    content: ""
    height: 100%
    width: 100%
    background inherit
    display block
    position absolute
  &:before
    top 100%
  &:after
    bottom 100%

.c-thumb
  position absolute
  height $thumb + 4
  width $thumb + 4
  border-radius 50%
  border 1px solid white
  cursor: pointer
  background white
  //-webkit-transition: all 0.05s
  box-shadow 0 1px 1px 1px rgba(0,0,0,0.1);
  .c-hue &
    margin-left 3px
    margin-top -5px
    border: 0
    // width 10px
    // height 10px
    // box-shadow 0 0 0 1px rgba(0,0,0,0.08);
  .c-grid &
    margin -5px
    box-shadow 0 1px 1px 1px rgba(0,0,0,0.1)//, inset 0 1px 1px 1px rgba(0,0,0,0.2)
  .c-alpha &
    //margin-top -5px
    margin-left 3px
    margin-top -5px
    //box-shadow inset 0 0 0 1px rgba(0,0,0,0.08)//, inset 0 1px 1px 1px rgba(0,0,0,0.2)


.c-opacity
  margin-left 5px
  {$transparencygrid}

.c-thumb:hover
  background #eee

