// Name:       Loop Light
// Author:     Evan Brooks — brooks.io

$activetext = rgb(0, 163, 255)
$darkbg     = #2D323A
$redcolor   = #CA000F
$greencolor = #88B171 
$bg         = white

.cm-mode-scss .cm-s-loop-light .CodeMirror-activeline-background {
  // background: rgba(255, 153, 0, 0.03);
}

.cm-s-loop-light .CodeMirror-activeline-background {
  background-color: rgba(0, 0, 255, 0.03);
}


.cm-mode-html .cm-s-loop-light.CodeMirror
  .cm-string
    font-weight 500


.cm-string
  //font-family: "CentSchbook Mono BT"
  font-weight: normal !important



// ------------------------

// Vars

$cssClassLight = #BB5DC7;
$cssIDLight    = #355BAD;
$cssStrLight   = #8A0048;

// ------------------------



// ------------------------

// B O T H  C O L O R S

// ------------------------

// "CentSchbook Mono BT"


.cm-mode-js
  // variables (these will be recolored)
  .cm-def,
  .cm-variable,
  .cm-variable-2,
  .cm-variable-3
    color        brown
    font-weight  700

  // Content/values
  .cm-atom,
  .cm-number, 
  .cm-string
    color black // $redcolor
    font-weight 500



.cm-s-loop-light, .cm-s-loop-dark
  &.CodeMirror 
    //font   400 14px/19px "Consolas", "Source Code Pro", "Ubuntu Mono"
    font   400 16px/24px "Source Code Pro", "Ubuntu Mono"
    font-family "fndrs_mono"

  .cm-keyword,
  .cm-kw-special
    // font-weight 600

  .cm-kw-special
    // font-style italic
    // font-weight 800
    // border-bottom 1px solid

  .cm-literate
    font-family: Nitti Grotesk Medium;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: rgb(86, 199, 122)

  .cm-codement
    font: inherit


  .cm-tag
    font-weight bold

  .CodeMirror-lint-message-error,
  .CodeMirror-lint-message-warning,
  .console-log-marker
    background-position top left
    background-repeat  no-repeat
    margin-left        1ch
    &:before
      content     "← "

  .console-log-marker
    -webkit-animation  decaydark 0.2s;
    color              rgb(228, 205, 114)
    &:before
      content "➔ "









// ------------------------

// D A R K

// ------------------------

.cm-s-loop-dark
  $maincolordark   = #bbb
  $commentdark = #576A72

  &.CodeMirror 
    color  $maincolordark
    // background #333

  div.CodeMirror-cursor 
    border-left: 1px solid #ddd !important

  &.CodeMirror-focused .CodeMirror-selected
    background: rgba(255,255,255,0.1)
  .CodeMirror-selected
    background: rgba(255,255,255,0.05)

  .cm-property
    color  $maincolordark !important
    box-shadow none !important
    background transparent !important

  .CodeMirror-activeline-background
    background rgba(255,255,255,0.02)

  .cm-atom,
  .cm-number, 
  .cm-string
    // color #C97B62
    // orange
    //color $greencolor
    color white
    font-weight 500

  .cm-comment 
    color $commentdark

  .cm-keyword,
  .cm-kw-special
    // color rgb(214, 214, 214)

  .cm-tag
    color #BE6464
    &.cm-head
      color #977575

  .cm-attribute,
  .cm-equals
    color #977575

  .CodeMirror-lint-message-error,
  .CodeMirror-lint-message-warning,
  .console-log-marker
    color $commentdark

  .console-log-marker
    -webkit-animation  decaydark 0.2s;
    color              rgb(228, 205, 114)


// ------------------------

// L I G H T S

// ------------------------

.cm-s-loop-light
  
  $maincolor   = #666
  // gray
  $secondcolor = #8EB5CF
  $comment     = #aaa
  $litcomment  = black
  //#56c77a

  // Main
  &.CodeMirror 
    color  $maincolor

  div.CodeMirror-cursor 
    border-left: 1px solid rgba(0,200,255,1) !important


  .cm-property
    color  $maincolor !important
    box-shadow none !important
    background transparent !important

  // Line highlight
  .CodeMirror-activeline-background
    background #f9f9f9

  // function and var definitions
  .cm-keyword,
  .cm-kw-special
    color       #C24888

  .cm-tag,
  .cm-attribute,
  .cm-equals
    color #54A6FF // #659DDA
    color #D17373
    &.cm-head
      // color #A4B8C5
      color #888

  .cm-comment, .cm-comment-marker
    color $comment

  .cm-literate
    color $litcomment

  .CodeMirror-lint-message-error,
  .CodeMirror-lint-message-warning
    color $comment

  .console-log-marker
    color $activetext
    -webkit-animation  decaylight 0.2s;

  .CodeMirror-lines pre:hover
    // background-color: rgba(yellow, 0.1)

  .CodeMirror-lines pre:nth-child(even)
    //background-color: rgba(0,0,255,0.018);

  .cm-attrval-href,
  .cm-attrval-src
    // border-bottom 1px solid rgba(0,0,0,0.2)


// _____________________________________________________________

// M O D E - S P E C I F I C

// _____________________________________________________________


// ------------------------

// H T M L


.cm-mode-html
  .cm-null
    font-family: Nitti Grotesk Medium;
    font-weight: normal;
    font-size: 17px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color black
  // D A R K
  .cm-s-loop-dark
    .cm-string
      color: #C08E58
    .cm-attrval-class
      color #CEBB56 // #88B171 
    .cm-attrval-id
      color #88b171 // #CAB85A


.cm-attrval-id, .cm-attrval-class
  font-weight bold !important

// L I G H T
.cm-s-loop-light
  .cm-attrval
    color: $cssStrLight
  .cm-attrval-class, .cm-attrkey-class, .cm-eq-class
    color: $cssClassLight
  .cm-attrval-id, .cm-attrkey-id, .cm-eq-id
    color $cssIDLight



// ------------------------

// C S S


.cm-mode-styl, .cm-mode-scss, .cm-mode-sass
  // L I G H T
  .cm-s-loop-light
    .cm-colon, .cm-brack
      color gray
    .cm-property
      color: #69899E !important
      font-weight 400
    .cm-variable, .cm-variable-2
      color: black
      font-weight normal
    .cm-string
      color: navy
      font-weight 600
    .cm-def
      color black
    .cm-tag, .cm-qualifier, .cm-builtin
      font-weight 800
      // border-bottom: 1px solid
    .cm-qualifier
      color $cssClassLight
    .cm-builtin
      color $cssIDLight
    .cm-variable-3
      font-weight 400
      color $cssStrLight
    .cm-atom, .cm-number
      color black



// ------------------------

// M I S C

// ------------------------

.cm-s-loop-light .cm-operator {
  color: #535353;
}
/* REGEX */
.cm-s-loop-light .cm-string-2 {
  color: #894BCC;
}

.cm-s-loop-light .cm-meta {
  color: #555;
}
.cm-s-loop-light .cm-qualifier {
  color: rgb(73, 173, 221);
  color: rgb(0, 124, 184);
}
.cm-s-loop-light .cm-builtin {
  color: rgb(0, 122, 255);
  color: rgb(156, 0, 206);
}
.cm-s-loop-light .cm-bracket {
  color: red;
}

.cm-s-loop-light .cm-quote {
  color: #090;
}


// ------------------------

// M A R K D O W N

// ------------------------

.cm-mode-md
  .CodeMirror 
    font   400 20px/24px "Nitti Grotesk Medium"

  .cm-code
    font   400 16px/24px "Nitti"
    color purple

  .cm-header
    color black
    font-family "Nitti Grotesk Medium"
    font-weight normal

  .cm-header-1
    font-family "Nitti Grotesk Black"
    font-weight normal
    color: brown

  .cm-header-2
    font-family "Nitti Grotesk"
    font-weight bold

  .cm-link
    color: #288DFC
    text-decoration none

  .cm-href
    color: #aaa
    font-family "Nitti Grotesk Semilight"
    border-bottom 1px dotted

  .cm-list1:first-child
    display: inline-block

  .cm-list1:first-child:first-letter
    color maroon


.cm-s-loop-light .cm-hr
  color: #eee
  width: 80%
  border-top: 1px solid #ddd
  display: inline-block



// ------------------------

// I N D E N T   G U I D E S

// ------------------------



.CodeMirror
  pre.ind-0, pre.ind-1
    background transparent

  pre.ind-2, pre.ind-3
    background url(indents/ind1.png) repeat-y
    background-position top left 4px

  pre.ind-4, pre.ind-5
    background-image url(indents/ind1.png), url(indents/ind1.png)
    background-position top left 4px, top left 18px
    background-repeat repeat-y

  pre.ind-6, pre.ind-7
    background-image url(indents/ind1.png), url(indents/ind1.png), url(indents/ind1.png)
    background-position top left 4px, top left 18px, top left 32px
    background-repeat repeat-y

  pre.ind-8, pre.ind-9
    background-image url(indents/ind1.png), url(indents/ind1.png), url(indents/ind1.png), url(indents/ind1.png)
    background-position top left 4px, top left 18px, top left 32px, top left 46px
    background-repeat repeat-y

  pre.ind-10, pre.ind-11
    background-image url(indents/ind1.png), url(indents/ind1.png), url(indents/ind1.png), url(indents/ind1.png), url(indents/ind1.png)
    background-position top left 4px, top left 18px, top left 32px, top left 46px, top left 60px
    background-repeat repeat-y


// ------------------------

// S L I D E R

// ------------------------

.slider
  display: inline-block
  height: 12px
  width: 1ch
  position: relative
  cursor: ns-resize
  -webkit-user-select: none
  opacity 0.7
  &:focus
    opacity: 1
    outline: none
    .slider-thumb
      border-color: blue
    & + span
      color: blue
  &:hover
    opacity: 1
  &.dragging
    opacity: 1


.slider-thumb
  height: 10px
  width:  5px
  border: 1px solid #adadad //$redcolor
  border-radius: 3px
  background: #cacaca // $bg
  display: inline-block
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  margin-top 3px
  // -webkit-transition: all 0.1s
  &:before
    // content: ""
    display  block
    width    30px
    height   1px
    z-index  -1
    top 4px
    position relative
    left -15px
    background #aaa // $redcolor
    opacity: 0.5



.cm-s-loop-dark
  .slider-thumb
    background $darkbg

  .slider
    .slider-thumb
      background: darken(#666, 7)
      border-color #666 // $greencolor
      &:before
        border-color #666// $greencolor
    &:hover
      opacity: 1


.CodeMirror-widget:hover,
.CodeMirror-widget:hover + .cm-number
  // background: rgba($activetext, 0.1)
  color $activetext
  // border-bottom: 1px dotted black

.CodeMirror-widget:hover
  .slider-thumb
    background $activetext
    border-color $activetext
    &:before
      border-color $activetext
      //height: 50px
      //top -20px


// ------------------------

// M E S S A G E

// ------------------------

.cm-s-loop-light .CodeMirror-lint-message-error,
.cm-s-loop-light .CodeMirror-lint-message-warning {
  color: #aaa
  font-family: Nitti Grotesk Medium
  font-weight: normal
  font-size: 16px
  line-height: 14px
  letter-spacing: 0.02em
}

// ------------------------

// S W A T C H

// ------------------------

.cm-s-loop-light .cm-color {
  // color: #ccc;
  color black
}

.colorpicker
  display: inline-block
  min-width: 3ch
  min-height: 16px
  background: transparent
  position relative
  vertical-align top
  margin-top 7px
  // -webkit-transition: all 0.2s
  line-height: 0

.colorpicker-swatch
  cursor   pointer
  min-width    24px
  min-height   13px
  border-radius: 7px
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1)
  //position absolute
  //left     -1px
  &:hover
    // -webkit-transform: scale(1.5)
    box-shadow inset 0 0 0 1px rgba(0,0,0,0.3)
    z-index    999

// ------------------------

// T Y P E

// ------------------------

.cm-str-Arial
  font-family Arial
  line-height 80%

.cm-str-Times
  font-family Times
  line-height 80%

.cm-str-Verdana
  font-family Verdana
  line-height 80%

.cm-str-Nitti
  font-family "Nitti Grotesk"
  line-height 80%






